/* Certificates Section */
.certificate-category {
  margin-bottom: 1.5rem;
}

.certificate-category:last-child {
  margin-bottom: 0;
}

.certificate-category h3 {
  margin-bottom: 0.75rem;
  color: var(--font-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.certificate-category ul {
  list-style-position: inside;
  padding-left: 1rem;
}
