/* Skills Section */
.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  list-style: none;
}

.skills-list li {
  background-color: var(--secondary-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 500;
}

.skill-category {
  margin-bottom: 1.5rem;
}

.skill-category:last-child {
  margin-bottom: 0;
}

.skill-category h3 {
  margin-bottom: 0.75rem;
  color: var(--font-color);
  font-size: 1.2rem;
  font-weight: 500;
}
